@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;400;500;700&display=swap');

body{
    @apply bg-slate-100 text-black;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 24px;
}
p{
    font-size: 18px;
}